<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Search results for '{{ .Query.Search | html }}'</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<link href='/assets/css/pks.min.css' rel='stylesheet' type='text/css'>
<style type="text/css">
/*<![CDATA[*/
 .uid { color: green; text-decoration: underline; }
 .warn { color: red; font-weight: bold; }
/*]]>*/
</style></head><body><h1>Search results for '{{ .Query.Search | html }}'</h1>
<p><a href="/">Return to home</a></p>
<pre>sig type  issuer keyID     sig creation         sig expiry           key expiry                   </pre>
{{- define "PrintAllowedPolicyURI" -}}
{{- /* Gentoo Example: {{- if eq "https://www.gentoo.org/glep/glep-0079.html" . }} */ -}}
{{- if false -}}
   Policy URL: <a href="{{ . }}">{{ . }}</a>
{{- end -}}
{{- end -}}
{{ $spacer := "____________________" }}
{{ range $key := .Keys -}}
<hr /><pre><strong>pub</strong> <a href="/pks/v2/certs/by-vfingerprint/0{{ $key.Version }}{{ $key.Fingerprint }}">({{ $key.Version }}){{ $key.Algorithm.Name }}/{{ $key.Fingerprint }}</a> {{ $key.Creation }}
{{ range $sig := $key.Signatures -}}
{{- $issuerUrl := printf "/pks/v2/certs/by-vfingerprint/%02x%s" $sig.IssuerFpVersion $sig.IssuerFingerprint -}}
{{- $slug := $sig.IssuerKeyID -}}
{{- if eq $sig.IssuerFingerprint "" -}}
  {{- $issuerUrl = printf "/pks/v2/certs/by-keyid/%s" $sig.IssuerKeyID -}}
  {{- if eq $sig.IssuerKeyID $key.LongKeyID }}{{ $slug = "[selfsig]" }}{{ end -}}
{{- else -}}
  {{- if and (eq $sig.IssuerFpVersion $key.Version) (eq $sig.IssuerFingerprint $key.Fingerprint) }}{{ $slug = "[selfsig]" }}{{ end -}}
{{- end -}}
sig {{ if $sig.Revocation }}<span class="warn">revok </span>{{ else }}dir   {{ end }}<a href="{{ $issuerUrl }}">{{ $sig.IssuerKeyID }}</a> {{ $sig.Creation }} {{ if $sig.Expiration  }}{{ $sig.Expiration }}{{ else }}{{ $spacer }}{{ end }} {{ $spacer }} <a href="{{ $issuerUrl }}">{{ $slug }}</a>
{{ end }}{{/* range .Signatures */ -}}
{{ range $uid := $key.UserIDs -}}
<strong>uid</strong> <span class="uid">{{ $uid.Keywords | html }}</span>
{{ range $sig := $uid.Signatures -}}
{{- $issuerUrl := printf "/pks/v2/certs/by-vfingerprint/%02x%s" $sig.IssuerFpVersion $sig.IssuerFingerprint -}}
{{- $slug := $sig.IssuerKeyID -}}
{{- if eq $sig.IssuerFingerprint "" -}}
  {{- $issuerUrl = printf "/pks/v2/certs/by-keyid/%s" $sig.IssuerKeyID -}}
  {{- if eq $sig.IssuerKeyID $key.LongKeyID }}{{ $slug = "[selfsig]" }}{{ end -}}
{{- else -}}
  {{- if and (eq $sig.IssuerFpVersion $key.Version) (eq $sig.IssuerFingerprint $key.Fingerprint) }}{{ $slug = "[selfsig]" }}{{ end -}}
{{- end -}}
sig {{ if $sig.Revocation }}<span class="warn">revok </span>{{ else }}cert  {{ end }}<a href="{{ $issuerUrl }}">{{ $sig.IssuerKeyID }}</a> {{ $sig.Creation }} {{ if $sig.Expiration  }}{{ $sig.Expiration }}{{ else }}{{ $spacer }}{{ end }} {{ $spacer }} <a href="{{ $issuerUrl }}">{{ $slug }}</a>
{{- if ne $sig.PolicyURI "" -}}{{- template "PrintAllowedPolicyURI" ($sig.PolicyURI) -}}{{- end }}
{{ end }}{{/* range .Signatures */}}
{{ end }}{{/* range .UserIDs */ -}}
{{ range $sub := $key.SubKeys -}}
<strong>sub</strong> ({{ $sub.Version }}){{ $sub.Algorithm.Name }}/{{ $sub.Fingerprint }} {{ $sub.Creation }}
{{ range $sig := $sub.Signatures -}}
{{- $issuerUrl := printf "/pks/v2/certs/by-vfingerprint/%02x%s" $sig.IssuerFpVersion $sig.IssuerFingerprint -}}
{{- $slug := $sig.IssuerKeyID -}}
{{- if eq $sig.IssuerFingerprint "" -}}
  {{- $issuerUrl = printf "/pks/v2/certs/by-keyid/%s" $sig.IssuerKeyID -}}
  {{- if eq $sig.IssuerKeyID $key.LongKeyID }}{{ $slug = "[selfsig]" }}{{ end -}}
{{- else -}}
  {{- if and (eq $sig.IssuerFpVersion $key.Version) (eq $sig.IssuerFingerprint $key.Fingerprint) }}{{ $slug = "[selfsig]" }}{{ end -}}
{{- end -}}
sig {{ if $sig.Revocation }}<span class="warn">revok </span>{{ else }}sbind {{ end }}<a href="{{ $issuerUrl }}">{{ $sig.IssuerKeyID }}</a> {{ $sig.Creation }} {{ $spacer }} {{ if $sig.Expiration }}{{ $sig.Expiration }}{{ else }}{{ $spacer }}{{ end }} <a href="{{ $issuerUrl }}">{{ $slug }}</a>
{{ end }}{{/* range .Signatures */}}
{{ end }}{{/* range .SubKeys */ -}}
</pre>
{{- end }}{{/* range .Keys */}}
</body></html>
