/* Search-page stylesheet */

html,body { height: 100%; width: 100%; }
body { font-size: 100%; }
.scroll-left { overflow: hidden; position: relative; margin: 0; padding: 0; height: 100%; width: 100%; }
.scroll-left div {
  position: absolute; width: auto; height: 100%; margin: 0; padding: 0; text-align: left;
  /* Starting position */
  left: 0; transform: translateX(0); -moz-transform: translateX(0); -webkit-transform: translateX(0);
}
.scroll-left p { white-space: nowrap; }
/* Fallback from JS-tuned animation */
@-moz-keyframes scroll-left {		/* Firefox */
  0%      { -moz-transform: translateX(0); }
  49.999% { -moz-transform: translateX(-100%); }
  50.001% { -moz-transform: translateX(100%); }
  100%    { -moz-transform: translateX(0); }
}
@-webkit-keyframes scroll-left {		/* Safari and Chrome */
  0%      { -webkit-transform: translateX(0); }
  49.999% { -webkit-transform: translateX(-100%); }
  50.001% { -webkit-transform: translateX(100%); }
  100%    { -webkit-transform: translateX(0); }
}
@keyframes scroll-left {
  0%      { transform: translateX(0); -moz-transform: translateX(0); -webkit-transform: translateX(0); }
  49.999% { transform: translateX(-100%); -moz-transform: translateX(-100%); -webkit-transform: translateX(-100%); }
  50.001% { transform: translateX(100%); -moz-transform: translateX(100%); -webkit-transform: translateX(100%); }
  100%    { transform: translateX(0); -moz-transform: translateX(0); -webkit-transform: translateX(0); }
}
/* Bootstrap 3: xs (<768px), sm (>=768px), md (>=992px), lg (>=1200px) */
@media only screen and (max-width: 991px) {	/* xs and sm */
  .title-font { font-size: 3.6em; }
  .h1, h1 { font-size: 3.6em; }		/* 36px ? */
  .h2, h2 { font-size: 3.2em; }		/* 32px ? */
  .h3, h3 { font-size: 2.8em; }		/* 28px ? */
  .h4, h4 { font-size: 2.4em; }		/* 24px ? */
  .h5, h5 { font-size: 2em; }			/* 20px ? */
  .h6, h6 { font-size: 1.6em; }		/* 16px ? */
  .par, p { font-size: 1.2em; }		/* 12px ? */
  .language-selection:hover { opacity: 1;  z-index: 1; }
  .language-selection { opacity: 0.3;  z-index: auto; }
  .page-header { margin-top: 3em; margin-bottom: 6em; border-bottom: 0px; }	/* SET V-SPACE ABOVE & BELOW TITLE HERE */
  .search-input { margin: 0; line-height: 2em; height: 2em; }
  .radiobutton-controls { height: 13em; }
  .checkbox-controls { height: 3em; }
  .vanishing-box { height: 4em; }
  #who-text-div {	/* Fallback from JS-tuned animation */
	 animation: scroll-left 10s linear infinite forwards;
	 -moz-animation: scroll-left 10s linear infinite forwards;
	 -webkit-animation: scroll-left 10s linear infinite forwards;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {	/* md */
  .language-selection:hover { opacity: 1;  z-index: 1; }
  .language-selection { opacity: 0.3;  z-index: auto; }
}
@media only screen and (min-width: 992px) {	/* md and lg */
  .title-font { font-size: 5em; }
  .h1, h1 { font-size: 4.8em; }		/* 48px ? */
  .h2, h2 { font-size: 4em; }			/* 40px ? */
  .h3, h3 { font-size: 3.2em; }		/* 32px ? */
  .h4, h4 { font-size: 2.8em; }		/* 28px ? */
  .h5, h5 { font-size: 2.4em; }		/* 24px ? */
  .h6, h6 { font-size: 2em; }			/* 20px ? */
  .par, p { font-size: 1.6em; }		/* 16px ? */
  .page-header { margin-top: 7em; margin-bottom: 19.5em; border-bottom: 0px; }	/* SET V-SPACE ABOVE & BELOW TITLE HERE */
  .search-input { margin: 0; line-height: 2.5em; height: 2.5em; }
  #search-button-div { margin-left: -3em; }
  .radiobutton-controls { height: 11.5; }
  .checkbox-controls { height: 2m; }
  .vanishing-box { height: 16.5em; }
}

#search-button-div { margin-top: 0; padding: 0; }
#info-text-div {	/* Fallback from JS-tuned animation */
  -moz-animation: scroll-left 45s linear infinite forwards;
  -webkit-animation: scroll-left 45s linear infinite forwards;
  animation: scroll-left 45s linear infinite forwards;
}
#wrap { /* bottom equals footer height */
  position: absolute; top: 0; bottom: 9.5em; left: 0; right: 0; overflow: auto;
  /* The flow-root display value creates a new “block formatting context”,   *
	* but is otherwise like block. A new BFC helps with things like clearing  *
	* floats, removing the need for hacks (like class="clearfix") to do that. */
  display: flow-root;
}
#footer { position: absolute; bottom: 0; height: 9.5em; left: 0; right: 0; overflow: hidden; background-color: #f5f5f5; }
#footer div.row { margin: 0; padding: 0; width: 100%; }
#footer div.col-xs-12 { margin: 0; padding: 0; width: 100%; height: 100%; }
div > label { display: block; max-width:100%; font-weight:400; width: 100%; }
#ascii-armored { margin-left: -1em; margin-bottom: -0.5em }
.search-button { margin: 0; line-height: 2em; height: 2.75em; margin-top: 0.2em; }
.vanishing-box { display: block; margin-top: 0.25em; }
.radiobutton-controls { margin-left: 1.5em; display: flex; flex-flow: column; justify-content: center; }
.checkbox-controls { margin-left: 1.5em; }
.modal-body ul { margin:0; margin-left: 2em; padding:0; }
.modal-body textarea { width: 100%; font-family:Courier }
.modal-body p { line-height: 1.4em }
.justified-text { text-align: justify; text-justify: inter-word; }
.language-selection { display: block; position: fixed; top: 0; left: 0; width: 100%; }
.col-centered { float: none; margin: 0 auto; }
.container .credit { margin: 20px 0; }

.modal { max-width: 100%; min-width: 300px; overflow-y: scroll;	/* allow a long modal to move up/down */ }
.modal-dialog { float: none; margin: 0 auto; width: 100%; max-width: 600px; }
.modal-content { margin: 0 10px; }
.modal-click-out-close > a {
  /* Use <a href="#"></a> at first level inside modal */
  position:absolute;   /* Close modal on click outside */
  top:0; left: 0;
  /* These are *necessary* for outside area definition */
  height:100%; width:100%;
}
/* Slide-down/up _and_ fade-in/out modals: CSS-only! */
.modal-slide-down-up, .modal-fade-in-out {
  /* The Modal background: main fades toward black */
  background-color: rgb(0, 0, 0);			/* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);	/* Black w/ opacity */
  
  display: flex;
  position: fixed;	/* left:-100vw is out of the window */
  /* These are *necessary* for modal (and bg) positioning */
  height:100%; width:100%;
  left: -100vw;
  /* transition of *left edge* in 0s w/ delay 400ms */
  transition: left 0s 400ms;
}
.modal-slide-down-up:target, .modal-fade-in-out:target {
  display: block; left: 0;
  /* transition of *left edge* in 0s */
  transition: left 0s;
}
/*****************************************************************
 * .modal-fade-in-out _must_ come after .modal-slide-down-up     *
 * definition, so that it overrides the lack of an _opacity_     *
 * transition in the latter, resulting in two classes that are   *
 *             both *independent* and *compossable*              *
 * We cannot just _add_ the opacity transition; left and opacity *
 * transitions _cannot_ be separated in .modal-fade-in-out and,  *
 * thus, also in the case of composing the two classes.          *
 *****************************************************************/
.modal-fade-in-out {
  opacity: 0;
  /* transition of *left edge* in 0s w/ delay 400ms */
  /* transition of *opacity* in 400ms */
  transition: left 0s 400ms, opacity 400ms;
}
.modal-fade-in-out:target {
  opacity:1;
  /* transition of *opacity* in 400ms */
  transition: opacity 400ms;
}
.modal-slide-down-up:target > div {
  top: 160px;
  /* Exact same transition params: no transition required here */
  /* transition: top 400ms; */
}
.modal-slide-down-up > div {
  /* transition modal contents (div) to new top, but go       *
	* upwards of (position:relative to) modal initial position */
  position:relative;
  top: -100vh;
  /* transition of *top edge* in 400ms */
  transition: top 400ms;
}
